@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

h1 {
  font-family: "Sansita Swashed Variable", system-ui;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Sansita+Swashed:wght@300..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

.sec {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.active {
  color: blueviolet;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
}

section,
main,
footer {
  scroll-snap-align: start;
}


